* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lavender;
}

/* Nav Section */
nav {
    height: 75px;
    display: flex;
    padding: 0px 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

header {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding: 10px 0px;
}

button {
    width: 125px;
    height: 25px;
    border-radius: 15px;
    margin: 5px 0;
}

.logo-container {
    margin-right: auto;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: lavender;
    display: flex;
    gap: 5px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 6px;
    background-color: white;
}

.main {
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
}

.main-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: green 2px solid;
    width: 30%;
}

.main-action {
    display: flex;
    width: 70%;
    justify-content: center;
    border: purple 2px solid;
}

.button-config {
    justify-content: center;
    border: yellow 2px solid;
}

.color-container, .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: block;
    overflow: hidden;
    height: 400px;
    width: 400px;
    border: 2px solid blue;
}