* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lavender;
}

/* Nav Section */
nav {
    height: 75px;
    display: flex;
    padding: 0px 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.logo-container {
    margin-right: auto;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: lavender;
    display: flex;
    gap: 5px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 6px;
    background-color: white;
}

/* Header Section */
header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

.rock {
    color: salmon;
    text-align: center;
}

.paper {
    color: lightblue;
    text-align: center;
}

.scissors {
    color: yellow;
    text-align: center;
}

/* Action Section */
.main {
    display: flex;
    justify-content: center;
    height: 200px;
}

.computer-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.action-area {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-choice {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wins,
#losses {
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
}

#wins {
    background-color: lightgreen;
}

#losses {
    background-color: lightsalmon;
}

#symbols {
    font-size: 48px;
}

/* Card Section */
.card-choice {
    display: flex;
    height: 400px;
    justify-content: center;
}

.player-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: auto;
}

.card {
    width: 225px;
    height: 275px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-weight: 700;
}

.card:hover {
    box-shadow: -5px 2px 5px;
    cursor: pointer;
    margin-bottom: 25px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

button {
    background-color: white;
}

.card-img {
    height: 180px;
    width: 180px;
    overflow: hidden;
    padding-top: 16px;
}

/* footer Section */
.footie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-style: italic;
}


/* Modal Section */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

}

.modal-content {
    margin: 200px auto;
    padding: 20px;
    background-color: yellow;
    width: 60%;
    border-radius: 12px;
    border: 2px solid black;
}

.text {
    font-size: 32px;
    padding: 24px;
    text-align: center;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.new-game {
    display: flex;
    justify-content: center;
}

.new-game button {
    padding: 8px;
    border-radius: 12px;
}